.home {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 100px;
  gap: 100px;
}
.card h3 {
  /* text-align: center; */
  padding-top: 20px;
}

.home .card {
  margin-bottom: 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 96%;
  padding-bottom: 6px;
  background-color: white;
  border-radius: 20px;
  color: black;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}
:hover.card {
  opacity: 6;
  visibility: visible;
  -webkit-filter: brightness(4px);
}

img {
  height: 120px;
}
.home .card img,
p,
h3 {
  width: 50%;
  max-height: 100px;
  margin-top: 5px;
  /* padding-left: 4.5rem; */
  padding: 1px 4.5rem;
}
.btn {
  margin-top: 3px;
  width: 50%;
  margin-left: 4.5rem;
  margin-bottom: 1em;
  background-color: black;
  color: white;
}

.btn:disabled {
  background-color: red;
  color: black;
}

:hover.btn {
  background-color: rgba(red, green, rgb(4, 4, 105), alpha);
  cursor: pointer;
  transform: scale(1.1);
}
