h2 {
  color: green;
}

.formContainer {
  width: 1000px;
  margin: 50px auto;
  padding: 50px;
  box-shadow: 0 0 10px black;
  text-align: center;
  height: 700px;
  margin-top: 7rem;
}

input {
  padding: 20px;
  width: 90%;
  border-radius: 10px;
  outline: none;
}
.formContainer div {
  margin: 2rem;
}

button {
  background-color: black;
  width: 50%;
  color: white;
  padding: 15px;
  border-radius: 10px;
}

@media (min-width: 481px) and (max-width: 769px) {
  .formContainer {
    width: 100%;
    height: 100vh;

    margin-top: 45px;
  }
  .formContainer .form {
    margin-top: 1rem;
  }

  .formContainer h2 {
    margin-bottom: 0;
  }
  button {
    width: 40%;
    padding: 5px;
    margin-bottom: 1em;
  }
}
